## API URLs
FORGOT_MAIL_URL=
APP_API_URL=

## AWS credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=
AWS_BUCKET_REGION=
AWS_BUCKET_URL=
AWS_REGION=

## Option to save on tmp or s3 - Storage
## options: local or S3
DISK=

## Mail sender
MAIL_PROVIDER=

# REDIS infos
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=